<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.samjc.timesheetwebclient">

    <uses-permission android:name="android.permission.INTERNET" />


    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/river_hawk"
        android:label="@string/app_title"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".AddUserActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".AddSemesterActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".EditUserActivity" />
    </application>

</manifest>